{{#each blog}}
<br><br>
<div class="card">
  <div class="card-header">
      <h1><a href='/api/post/onepost'>{{title}}</a></h1>
      <button id="deletebutton"><a href='/api/post/delete'>🗑</a></button>
      <h2>Created on: {{format_date createdAt }}</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
     <h2>{{content}}</h2>
    </blockquote>
  </div>
</div>
<br><br>
{{/each}}
  <div class="col-md-8">
        <div class="card">
           <h4>Title</h4>
        <form class="form newp-form">
            <div class="form-group">
                <input class="form-input" type="text" id="newp-title"/>
            </div>
        <h4>Content</h4>
            <div class="form-group">
                <input class="form-input input-lg" type="text" id="newp-body"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">New Post</button>
            </div>
        </form>
        </div>
    </div>
<script src="/js/newp.js"></script>